doctype html
html
    head
        title= title
        link(rel="stylesheet" ,href="../style.css")
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
        script(src= '../jquery.js')
    body
        block pagecontent
            form(action="") 
                select#selectLokal
                    option(selected disabled)= valjlokal
                    option(value="vasakyrkan")= vasa
                    option(value="masthuggskyrkan")= masthug
                    option(value="gårdstenskyrkan")= gardsten
                    option(value="kortedalakyrka")= kortedala
                select#selectParti
                    option(selected disabled) Välj parti
                    option(value="Socialdemokraterna: ") Socialdemokraterna
                    option(value="Centerpartiet: ") Centerpartiet
                    option(value="Liberalerna: ") Liberalerna 
                    option(value="Miljöpartiet: ") Miljöpartiet de gröna
                    option(value="Vänsterpartiet: ") Vänsterpartiet 
                input#inputNumber(type= "number" min="1" pattern="\d+$")
                button Send